#{extends 'Secure/layout.html' /}
<!DOCTYPE html>
<html ng-app="loginApp">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
	<script type="text/javascript" src="@{'/public/javascripts/login.js'}"></script>
	<script type="text/javascript" src="@{'/public/javascripts/callApi.js'}"></script>
</head>
<body>
<div id="login">
	
	<form method="post" action="@{Application.index}" ng-controller="LoginController">
		<p id="username-field">
			<label for="username"></label>
			<input type="text" name="name" id="name" 
			ng-model = "name"/>
		</p>
		<p>{{name}}</p>
		<p id="password-field">
			<label for="password"></label>
			<input type="password" name="password" id="password" ng-model="password" />
		</p>
		<p id="signin-field">
			<input type="submit" id="signin" value="&{'secure.signin'}" />
		</p>
	</form>

</div>
</body>
</html>



